a i:hover{
  color: black;
  background-color: $color-iconos;
}

a {
    transition: color 0.5s ease-in-out;
    &:hover {
        color: $primary;
    }
}

.navbar {
    .nav-link {
        transition: color 0.3s ease;
        padding-bottom: 0.2rem;

        &.active, &:hover {
            border-bottom: 2px solid $primary;
        }
    }
}
.table {
    tbody tr {
        transition: background-color 0.3s ease;
        
        &:hover {
            background-color: rgba($primary, 0.1);
        }        
    }
}
.card {
    box-shadow: 0 4px 400px rgba(255, 255, 255, 0.1); 
    
    transition: all 0.3s ease-in-out; 

    &:hover {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
        transform: translateY(-2px); 
    }
}

//Modificación bootstrap
body{
  background: $body-bg;
}

a i {
  color: $color-iconos;
  background: black;
  padding: 2px;
  border-radius: 40%;
}

ul li a, div > a, section > a{ 
  color: $body-color; 
  text-decoration: none; 
}
section > .card, div > .card{
    background-color: $container-bg;
    border-color: $container-border;
}

section#musica > .card{
    background-image: url('../assets/imagenes/concierto.avif'); 
    
    background-size: cover;
    
    background-position: center center;
    
    background-repeat: no-repeat;
    
}

.table {
    border: 1px solid $border-tabla; 
}
footer {
  background: $footer-bg;
}
div > .modal-content {
    background-color: $color-fondo-modal;
    color: $color-texto-modal;
}

div > .modal-title {
    color: $color-texto-modal;
}
hr{
  background-color: $separador-footer;
}

.btn-primary, footer .btn-primary {
    background-image: linear-gradient(to bottom, $primary 0%, #6F00FF 100%);
    box-shadow: 0 4px 12px rgba(157, 71, 255, 0.4);
}

.btn-primary:hover,
footer .btn-primary:hover {
    background-image: linear-gradient(to bottom, #6F00FF 0%, $primary 100%);
    box-shadow: 0 6px 15px rgba(111, 0, 255, 0.6);
    transform: translateY(-2px);
}

// Animaciones

h2, p {
  -webkit-animation: 3s aparicion 1;
}

@-webkit-keyframes aparicion{
     0%{
     	opacity: 0;
     }
       50%{
     	opacity: 0.8;
     }
}

.btn-primary:hover{
	-webkit-animation: 0.7s click 1;
}

@-webkit-keyframes click{
	25%, 75%{
		-webkit-transform:scale(0.8);
	}
	50%{
		-webkit-transform:scale(1.1);
	}
}

div > section#artistas > div > div >a.card:hover{
  -webkit-animation: 1s balancear 1;

}
@-webkit-keyframes balancear{
	20%{
		-webkit-transform: scale(0.7)
		                   rotate(-6deg);
	}
	30%, 70%{
		-webkit-transform: scale(1.1)
		                   rotate(6deg);
	}
	50%, 90%{
		-webkit-transform: scale(1.1)
		                   rotate(-6deg);
	}
	
}