a i:hover{
  color: black;
  background-color: $color-iconos;
}

a {
    transition: color 0.5s ease-in-out;
    &:hover {
        color: $primary;
    }
}

.navbar {
    .nav-link {
        transition: color 0.3s ease;
        padding-bottom: 0.2rem;

        &.active, &:hover {
            border-bottom: 2px solid $primary;
        }
    }
}
.table {
    tbody tr {
        transition: background-color 0.3s ease;
        
        &:hover {
            background-color: rgba($primary, 0.1);
        }        
    }
}
.card {
    box-shadow: 0 4px 400px rgba(255, 255, 255, 0.1); 
    
    transition: all 0.3s ease-in-out; 

    &:hover {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15); 
        transform: translateY(-2px); 
    }
}

h2, p {
  animation-duration: 3s;
  animation-name: deslizar;
}

@keyframes deslizar {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

//Modificación bootstrap
body{
  background: $body-bg;
}

a i {
  color: $color-iconos;
  background: black;
  padding: 2px;
  border-radius: 40%;
}

ul li a, div > a, section > a{ 
  color: $body-color; 
  text-decoration: none; 
}
section > .card, div > .card{
    background-color: $container-bg;
    border-color: $container-border;
}
.table {
    border: 1px solid $border-tabla; 
}
footer {
  background: $footer-bg;
}
div > .modal-content {
    background-color: $color-fondo-modal;
    color: $color-texto-modal;
}

div > .modal-title {
    color: $color-texto-modal;
}
hr{
  background-color: $separador-footer;
}

.btn-primary, footer .btn-primary {
    background-image: linear-gradient(to bottom, #9D47FF 0%, #6F00FF 100%);
    box-shadow: 0 4px 12px rgba(157, 71, 255, 0.4);
}

.btn-primary:hover,
footer .btn-primary:hover {
    background-image: linear-gradient(to bottom, #6F00FF 0%, #9D47FF 100%);
    box-shadow: 0 6px 15px rgba(111, 0, 255, 0.6);
    transform: translateY(-2px);
}