@font-face {
    font-family: 'Julius Sans One';
    src: url('../fonts/JuliusSansOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

// 2. Definición para Jeju Hallasan (Para Cuerpo/Párrafos)
@font-face {
    font-family: 'Jeju Hallasan';
    src: url('../fonts/JejuHallasan-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}